apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-demo-iad
spec:
  replicas: 7
  selector:
    matchLabels:
      app.kubernetes.io/name: k8s-demo-iad
  template:
    spec:
      containers:
      - image: pciaco/rancher-demo:latest
        name: k8s-demo-iad
        envFrom:
        - configMapRef:
            name: k8s-demo-iad-config
